<div>
    <div class="page-header">
    <h5 style="display:inline-block;margin-right:20px">Treasury & Credit Market</h5> 
        </div>
    <md-content layout="row" ng-repeat="card in datacard">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card>         
        <md-card-content class="parent-chart">  
            <div layout="row" class="space-align">        
          <div flex="45">{{card.Name}}</div>         
          <div flex="25">{{card.YieldPrcnt}}</div>                 
          <div flex>{{card.ChgBasisPoints}}</div>                  
                </div>                                 
        </md-card-content>                   
      </md-card>           
    </div>       
  </md-content>
</div>
