<div class="page-header">
     <h5 style="display:inline-block;margin-right:20px">YTD Performance </h5> 
    </div>
  <md-content layout="row" layout-gt-md="column" >
    
      <md-card>         
        <md-card-content >  
              
          <canvas id="YtdChart"></canvas>                     
        </md-card-content>   
          </md-card>
        </md-content>

  <md-content layout="row" layout-gt-md="column">
    
      <md-card>         
        <md-card-content >  
              
            <canvas id="GlobalYtdChart">              
                </canvas>                     
        </md-card-content>   
          </md-card>
        </md-content>


